@tailwind base;
@tailwind components;
@tailwind utilities;

.light body {
  background-color: rgb(246, 244, 241);
  color: #512602;
}

.light .surface {
  background-color: ghostwhite;
  border: 1px solid #121212;
}
.dark body {
  background-color: #121212;
  color: rgba(245, 232, 210, 0.914);
}

input {
  border: none;
  outline: none;
}
